/* calendar */

.rdp-month {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  width: 100%;
  text-align: center;
}

.rdp-caption {
  color: black;
  font-weight: 600;
  font-weight: bold;
}

@media (min-width: 768px) {
  .rdp-caption {
    font-weight: 600;
    font-size: 1.25rem;
  }
}

@media (min-width: 360px) {
  .rdp-caption {
    font-size: 0.875rem;
  }
}

.rdp-nav {
  color: black;
  position: absolute;
  top: 11px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 30%;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .rdp-nav {
    top: 16px;
    width: 40%;
  }
}

@media (min-width: 360px) {
  .rdp-nav {
    top: 12px;
    width: 40%;
  }
}

.rdp-table {
  width: 100%;
}

.rdp-head .rdp-head_row {
  font-size: 12px;
  height: 45px;
  color: gray;
  font-weight: bold;
}

@media (min-width: 360px) {
  .rdp-head .rdp-head_row {
    font-size: 0.75rem;
  }
}

.rdp-tbody .rdp-row {
  height: 55px;
}

@media (min-width: 360px) {
  .rdp-tbody .rdp-row {
    height: 33px;
  }
}

.rdp-cell .rdp-button {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2.5rem;
}

@media (min-width: 360px) {
  .rdp-cell .rdp-button {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.75rem;
  }
}
.rdp-cell .rdp-button[disabled] {
  color: gray;
}

.rdp-day_selected {
  background-color: #688af2;
  color: white;
}
.rdp-cell .rdp-day_range_start::after,
.rdp-cell .rdp-day_range_end::after {
  z-index: -1;
  display: block;
  width: calc(100% - 1px);
  height: 45px;
  position: absolute;
  top: 50%;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: blue;
  content: '';
}
